{% extends "layout.html" %}

{% block content%}

<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-9">
			<div id="map-canvas"></div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<ul class="list-group schema-dropdowns">
				<li class="list-group-item">
					<label for="hotel">Hotels</label>
					<select>
						<option value="" id="hotel">Hotel</option>
					</select>
					<button type="submit" class="btn btn-xs btn-primary">+</button>
				</li>
				<li class="list-group-item">
					<label for="restaurant">Restaurants</label>
					<select>
						<option value="" id="restaurant">Restaurant</option>
					</select>
					<button type="submit" class="btn btn-xs btn-primary">+</button>
				</li>
				<li class="list-group-item">
					<label for="activity">Activities</label>
					<select>
						<option value="" id="activity">Activity</option>
					</select>
					<button type="submit" class="btn btn-xs btn-primary">+</button>
				</li>
			</ul>
			<div class="day-number">
				<span class="day-header">Day 2</span><button type="button" class="btn btn-xs btn-delete btn-circle">x</button>
			</div>
			<div class="my-itinerary panel panel-default">
				<ul class="list-group">
					<li class="day-list panel-heading">
						<ul>
							<li><button type="button" class="btn btn-xs btn-day">1</button></li>
							<li><button type="button" class="btn btn-xs btn-day">2</button></li>
							<li><button type="button" class="btn btn-xs btn-day">3</button></li>
							<li><button type="button" class="btn btn-xs btn-day">+</button></li>
						</ul>
					</li>
					<div class="panel-body">
						<li class="list-group-item">
							<label for="my-hotel">My Hotel</label>
							<ul class="sublist">
								<li>Andaz Wall Street</li>
								<li><button type="button" class="btn btn-xs btn-delete btn-circle">x</button></li>
							</ul>
						</li>
						<li class="list-group-item">
							<label for="my-restaurants">My Restaurants</label>
							<ul class="sublist">
								<li>The Capital Grille</li>
								<li><button type="button" class="btn btn-xs btn-delete btn-circle">x</button></li>
							</ul>
							<ul class="sublist">
								<li>Bouley</li>
								<li><button type="button" class="btn btn-xs btn-delete btn-circle">x</button></li>
							</ul>
						</li>
						<li class="list-group-item">
							<label for="my-activities">My Activities</label>
							<ul class="sublist">
								<li>Mahayana Temple Buddhist Association</li>
								<li><button type="button" class="btn btn-xs btn-delete btn-circle">x</button></li>
							</ul>
							<ul class="sublist">
								<li>South Street Seaport</li>
								<li><button type="button" class="btn btn-xs btn-delete btn-circle">x</button></li>
							</ul>
						</li>
					</div>
				</ul>

			</div>

		</div>


	</div>
</div>



{% endblock %}
