.navbar {
  padding: 0;
  margin: 0; }

.navbar-fixed-top {
  clear: both; }

.container {
  margin: 0;
  width: 100%;
  height: 100vh; }

body {
  padding-top: 50px; }

.navbar-nav > li > a, .navbar-inverse .navbar-brand {
  background-color: #7a6656; }

.navbar-inverse {
  background-color: #7a6656;
  border-radius: 0px;
  border-width: 0px; }

#active {
  background-color: #6a5656; }

#map-canvas {
  width: 100%;
  height: 100vh; }

ul {
  list-style: none; }

.col-lg-9 {
  padding: 0; }

.col-lg-3 {
  background-color: #b6b6b6; }

.schema-dropdowns {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #ccc;
  color: #999;
  border-radius: 30px; }
  .schema-dropdowns li {
    border: none; }
    .schema-dropdowns li label {
      display: block; }

label {
  color: #999; }

.day-number {
  width: 100%;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px 0px 5px 0px;
  margin: 0px 0px 10px 0px; }

.day-header {
  font-size: 150%;
  margin-right: 10px; }

.btn-circle {
  border-radius: 8px;
  width: 16px;
  height: 16px;
  line-height: 1em; }

.btn-day {
  border-width: 2px;
  border-style: solid;
  border-color: #bdf7ff;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  color: #7a6656;
  background-color: #7a6656;
  color: #bdf7ff; }
  .btn-day:hover {
    background-color: #bdf7ff;
    color: #7a6656; }

.btn-delete {
  color: white;
  background-color: #df2c2c; }

.panel {
  border-width: 0px;
  border-radius: 15px; }

.panel-body {
  padding: 0px 0px 10px 0px; }

.panel-heading {
  padding: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.day-list {
  /*padding: 5px 5px 5px 20px;*/
  /*margin-left: 5px;*/
  postion: relative;
  background-color: #7a6656; }
  .day-list li {
    display: inline-block; }
  .day-list ul {
    padding: 10px 15px; }

ul.sublist {
  padding: 3px 0;
  font-size: 0.9em; }
  ul.sublist li {
    padding: 0;
    display: inline; }

.my-itinerary {
  /*border-radius: 15px;*/
  background-color: white;
  padding-top: 0px; }

.list-group {
  border: none; }

.list-group-item {
  background-color: inherit;
  border: none; }

.rightbar {
  height: 100vh; }

select {
  width: calc(100% - 20px); }
